* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Navigation Section */
.mr-auto {
    width: 90%;
}

.mr-auto li a {
    color:#888888;
}

a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: none;
}

.navbar-right {
  width: 14%;
}

.mr-auto li {
  display: inline;
}

/* Main Section */
.jumbotron {
    background-color: #d35266;
}

.button,
.div{
    color: #383838;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 14px;
}

.button {
    padding: 0 20px;
}

.button:last-child {
    padding-left: 20px;
    background-color:#383838;
    color: #888888;
}

input[type="text"] {
    box-sizing: border-box;
    padding-left: 20px;
}

.div {
    padding: 0 5px;
}

.button {
    background-color: #fff;
}

.button,
  .div input {
    height: 60px;
}

.button {
    width: 100px;
    cursor: pointer;
}

.button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.btn-group {
    position: relative;
    display: inline-block;
}

.category-icon {
    color: #888888;
}

.category-icon span {
    color: #383838;
    font-weight: bold;
}

.custom-popover li {
    border: none!important;
}

.custom-popover li:nth-child(2) {
    border-top: 1px solid #ccc!important;
}

.custom-popover li:last-child {
    border-top: 1px solid #ccc!important;
}

/* Category Section */

.carousel:after {
    content: 'flickity';
    display: none;
}

.cat-carousel-cell {
    width: 20%;
    counter-increment: carousel-cell;
    left: 16%;
}

.flickity-enabled .cat-carousel-cell {
    margin-bottom: 150px;
}

  /* cell number */
.cat-carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 1px;
    font-size: 20px;
    color: white;
}

.flickity-prev-next-button .arrow {
    fill: #d35266;
}

.text-muted b {
    color: #d35266;
    font-size: 14px;
}

.card {
    width:220px;
    height: 40%;
}

.card-title {
    font-size: 14px;
    color: #383838;
}

.cat-carousel .flickity-button{
    background: transparent;
}

.cat-carousel .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 0 #09F;
}

.cat-carousel .flickity-prev-next-button .arrow {
    fill: black;
}

/* Site Footer */
.site-footer {
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small {
    margin:20px 0
}

.site-footer h6 {
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a {
    color:#888888;
}

.site-footer a:hover {
    color:#3366cc;
    text-decoration:none;
}

.about-content p,
.about-content h6,
.copyright-text {
  color:#888888;
}

.category-content h6,
.navigation-content h6 {
    color: #d35266;
}

.navigation-content hr,
.category-content hr {
    border-color: #d35266;
}

.footer-links {
    padding-left:0;
    list-style:none
}

.footer-links li {
    display:block
}

.footer-links a {
    color:#888888
  }

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
}